/**
 * @author Artjom Kurapov
 * @since 20.06.12 16:25
 **/
.col h1{
    background-color: #dadada;
    padding:0 10px;
}

section ul{
    margin: 0;
    padding: 0;
}
section li{
    list-style: none;
    padding: 5px 10px;
    margin: 2px;
    border: 1px solid rgba(0, 158, 248, 0.41);
    background-color: rgba(0, 164, 255, 0.11);
    cursor: default;
    border-radius: 3px;
}

section .vote{
    display: none;
}
section li.voted{
    border: 1px solid #f4d313;
    background-color: #fff9dc;
}

#icebox li{
    cursor:move;
}

#public li .badge{
    float:right;
}
#icebox li .vote{
    float:right;
    margin-left: 5px;
}

#openspace li .badge,
#icebox li .badge,
#public li .icon-pencil,
#public li .vote,
#public li .close
{
    display: none;
}

section li .icon-pencil{
    cursor: pointer;
    float:right;
    opacity: 0.2;
    margin: 2px 4px 0 0;
}

section li .icon-pencil:hover{
    opacity: 0.4;
}

@media (max-width: 480px){
    .row-fluid .span4{
        width:100%;
    }
}